name: update_docker
on:
  push:
    branches:
      - main
    paths:
      - 'docker/Dockerfile'
      - 'semantic_world_msgs'
      - 'docker/entrypoint.sh'
# only run when a commit has changes in the requirements.txt file

jobs:
  build_and_push_docker_image:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v3

      - name: log into Docker Hub #Set repository secrets in github secrets
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASS }}

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: ./docker
          push: true
          tags: pycram/semantic_world:jazzy